nav {
  display: flex;
  height: 50px;
  width: 100%;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: #034c53;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
}

.brand-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  height: 50px;
}

img {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

h3 {
  margin-left: 5px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 10px;
}

li {
  padding: 5px 10px;
  cursor: pointer;
}

li:hover,
h3:hover {
  color: wheat;
}

.login,
.logout {
  margin-right: 20px;
}

button {
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}
