<app-header></app-header>
<p>category-list works!</p>
<button (click)="addCategory()">Add Category</button>
<div *ngIf="categories$ | async as categories; else loading">
  <div class="categories">
    <ng-container *ngFor="let category of categories">
      <p>Category Id: {{ category.categoryId }}</p>
      <p>Category Name: {{ category.name }}</p>
      <p>Is Available? {{ category.active }}</p>
      <br />
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <img src="loading.gif" alt="Loading..." />
  </div>
</ng-template>
