<app-header></app-header>
<div class="items-modify-page">
  <div class="item-form">
    <div class="form-title">
      <span>{{ isAddOperation ? 'Add Item' : 'Edit Item' }}</span>
    </div>
    <div class="form-fields">
      <form [formGroup]="itemForm">
        <div class="item-name-input">
          <label for="item-name">Item Name:</label>
          <input
            id="item-name"
            type="text"
            formControlName="itemName"
            [ngClass]="{
              'error-border':
                itemForm.get('itemName')?.invalid &&
                itemForm.get('itemName')?.touched
            }"
          />
          <div
            *ngIf="
              itemForm.get('itemName')?.invalid &&
              itemForm.get('itemName')?.touched
            "
          >
            <div
              class="error-message"
              *ngIf="itemForm.get('itemName')?.hasError('required')"
            >
              Item name is required.
            </div>
            <div
              class="error-message"
              *ngIf="itemForm.get('itemName')?.hasError('minlength')"
            >
              Item name must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="category-id-input">
          <label for="category-id">Category:</label>
          <select
            name="category-id"
            id="category-id"
            formControlName="categoryId"
            [ngClass]="{
              'error-border':
                itemForm.get('categoryId')?.invalid &&
                itemForm.get('categoryId')?.touched
            }"
          >
            <option
              *ngFor="let category of categories$ | async"
              [value]="category.categoryId"
            >
              {{ category.name }}
            </option>
          </select>
          <div
            *ngIf="
              itemForm.get('categoryId')?.invalid &&
              itemForm.get('categoryId')?.touched
            "
          >
            <div
              class="error-message"
              *ngIf="itemForm.get('categoryId')?.hasError('required')"
            >
              Category is required.
            </div>
          </div>
        </div>
        <div class="is-available-input">
          <label for="is-available">Available:</label>
          <select
            name="is-available"
            id="is-available"
            formControlName="isAvailable"
          >
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
          <div
            *ngIf="
              itemForm.get('isAvailable')?.invalid &&
              itemForm.get('isAvailable')?.touched
            "
          >
            <div
              class="error-message"
              *ngIf="itemForm.get('isAvailable')?.hasError('required')"
            >
              Availability is required.
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="form-operation">
      <button
        class="submit-button"
        type="submit"
        [disabled]="itemForm.invalid"
        (click)="isAddOperation ? onSubmitAddItem() : onSubmitEditItem()"
      >
        Submit
      </button>
      <button class="cancel-button" (click)="goToItemsPage()">Cancel</button>
    </div>
  </div>
</div>
