<app-header></app-header>
<p>sales-list works!</p>
<button [disabled]="disableAddSale()" (click)="redirectToAddPage()">
  Add Sale
</button>
<div *ngIf="salesWithItems$ | async as sales; else loading">
  <div class="item-filter-input" *ngIf="getItemsList() as items">
    <label for="item-filter">Item : </label>
    <select
      name="item-filter"
      id="item-filter"
      [(ngModel)]="itemId"
      (change)="filterSales()"
    >
      <option [value]="-1">All</option>
      <option *ngFor="let item of items" [value]="item.itemId">
        {{ item.name }}
      </option>
    </select>
  </div>
  <div class="start-date-filter-input">
    <label for="start-date-filter">From : </label>
    <input
      id="start-date-filter"
      type="date"
      [(ngModel)]="startDate"
      (change)="filterSales()"
    />
  </div>
  <div class="end-date-filter-input">
    <label for="end-date-filter">To : </label>
    <input
      id="end-date-filter"
      type="date"
      [(ngModel)]="endDate"
      (change)="filterSales()"
    />
  </div>
  <table class="sales">
    <thead>
      <th (click)="onSort('salesId')">Sales Id</th>
      <th (click)="onSort('itemName')">Item</th>
      <th (click)="onSort('price')">Price</th>
      <th (click)="onSort('quantity')">Quantity</th>
      <th (click)="onSort('salesAmount')">Sales Amount</th>
      <th (click)="onSort('salesDate')">Sales Date</th>
    </thead>
    <tbody *ngFor="let sale of sales">
      <tr>
        <td>{{ sale.salesId }}</td>
        <td>{{ sale.item }}</td>
        <td>{{ sale.price }}</td>
        <td>{{ sale.quantity }}</td>
        <td>{{ sale.salesAmount }}</td>
        <td>{{ sale.salesDate | date : 'longDate' }}</td>
        <td>
          <button (click)="redirectToEditPage(sale)">Edit</button>
          <button (click)="deleteSales(sale.salesId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="page-size-filter-input">
    <select
      name="page-size-filter"
      id="page-size-filter"
      [(ngModel)]="pageSize"
      (change)="filterSales()"
    >
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </div>
  <div class="page-number-filter-input">
    <button
      name="previous-page"
      id="previous-page"
      (click)="goToPreviousPage()"
      [disabled]="page == 1"
    >
      Previous
    </button>
    <button name="current-page" id="current-page">
      {{ page }}
    </button>
    <button
      name="next-page"
      id="next-page"
      (click)="goToNextPage()"
      [disabled]="disableNextPage()"
    >
      Next
    </button>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <img src="loading.gif" alt="Loading..." />
  </div>
</ng-template>
