<app-header></app-header>
<p>sales-list works!</p>
<div *ngIf="sales$ | async as sales; else loading">
  <div class="sales">
    <ng-container *ngFor="let sale of sales">
      <p>Sales Id: {{ sale.salesId }}</p>
      <p>Item Id: {{ sale.itemId }}</p>
      <p>Price {{ sale.price }}</p>
      <p>Quantity {{ sale.quantity }}</p>
      <p>Sales Amount {{ sale.salesAmount }}</p>
      <p>Sales Date {{ sale.salesDate }}</p>
      <p>Inserted Date {{ sale.insertedDate }}</p>
      <br />
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <img src="loading.gif" alt="Loading..." />
  </div>
</ng-template>
