<app-header></app-header>
<p>item-list works!</p>
<button [disabled]="disableAddItem()" (click)="redirectToAddPage()">
  Add Item
</button>
<div *ngIf="itemsWithCategories$ | async as items; else loading">
  <div class="is-available-filter-input">
    <label for="is-available-filter">Is Available ? : </label>
    <select
      name="is-available-filter"
      id="is-available-filter"
      [(ngModel)]="isActive"
      (change)="filterItems()"
    >
      <option value="">All</option>
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
  </div>
  <div class="category-filter-input" *ngIf="getCategoriesList() as categories">
    <label for="category-filter">Category : </label>
    <select
      name="category-filter"
      id="category-filter"
      [(ngModel)]="categoryId"
      (change)="filterItems()"
    >
      <option [value]="-1">All</option>
      <option *ngFor="let category of categories" [value]="category.categoryId">
        {{ category.name }}
      </option>
    </select>
  </div>
  <table class="items">
    <thead>
      <th (click)="onSort('itemId')">Item Id</th>
      <th (click)="onSort('itemName')">Item Name</th>
      <th (click)="onSort('categoryName')">Category Name</th>
      <th>Is Avilable</th>
    </thead>
    <tbody *ngFor="let item of items">
      <tr>
        <td>{{ item.itemId }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.active }}</td>
        <td>
          <button (click)="redirectToEditPage(item)">Edit</button>
          <button (click)="deleteItem(item.itemId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="page-size-filter-input">
    <select
      name="page-size-filter"
      id="page-size-filter"
      [(ngModel)]="pageSize"
      (change)="filterItems()"
    >
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
  </div>
  <div class="page-number-filter-input">
    <button
      name="previous-page"
      id="previous-page"
      (click)="goToPreviousPage()"
      [disabled]="page == 1"
    >
      Previous
    </button>
    <button name="current-page" id="current-page">
      {{ page }}
    </button>
    <button
      name="next-page"
      id="next-page"
      (click)="goToNextPage()"
      [disabled]="disableNextPage()"
    >
      Next
    </button>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <img src="loading.gif" alt="Loading..." />
  </div>
</ng-template>
