<app-header></app-header>
<p>item-list works!</p>
<button [disabled]="disableAddItem()" (click)="redirectToAddPage()">
  Add Item
</button>
<div *ngIf="items$ | async as items; else loading">
  <table class="items">
    <thead>
      <th>Item Name</th>
      <th>Category Name</th>
      <th>Is Avilable</th>
    </thead>
    <tbody *ngFor="let item of items">
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.active }}</td>
        <td>
          <button (click)="redirectToEditPage(item)">Edit</button>
          <button>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="loading-container">
    <img src="loading.gif" alt="Loading..." />
  </div>
</ng-template>
